@font-face {
    font-family: 'Runaway';
    src: url('./Runaway.otf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: white;
    font-family: 'Runaway';
    background-color: lightslategray;
    background: url('./image.jpg');
    text-align: right;
    height: 100vh;
}